@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    height: 100vh;ы
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    overflow: hidden;
}

.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    width: 78%;
    height: 78%;
    z-index: 0;
    /*transform: rotate(-15deg);
    animation: rotation 20s linear infinite;*/
}

.main-illustration {
    z-index: 1;
}